.stepTwo{
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-top: 20px;
  }

  h2 {
    width: 60%;
    margin: auto;
    margin-top: 20px;
  }