.stepFive{
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #000;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2{
    width: 60%;
    margin-top: 20px;
  }

  .table{
    width: 50%;
    border: 10px;
  }

  @media (max-width:900px) {

    .table{
      font-size: 13px;
      width: 90%;
    }

}